
<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
<div class="form-row">
    <div class="form-group col-4">
        <label>firstname</label>
        <input formControlName="firstname"type="text" class="form-control">
        </div>
        <div class="form-group col-4">
            <label>lastname</label>
            <input formControlName="lastname"type="text"  class="form-control" >
        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <label>UserName</label>
                <input formControlName="username" type="text" class="form-control">
                </div>
                <div class="form-group col-4">
                    <label>Email</label>
                    <input formControlName="email" type="email"  class="form-control" >
                </div>
                </div>
        
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <a routerLink="/users" class="btn btn-link">Cancel</a>
            </div>
            </form>