<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:10%">ID</th>
            <th style="width:20%">firstname</th>
            <th style="width:20%">Username</th>
            <th style="width: 10%">Lasname</th>
            <th style="width:30%"> Email</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of students">
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}"class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger ">Delete</button>
                </td>
</tr>    
    </tbody>
</table>