  <mat-toolbar>
    <mat-toolbar-row>
      <span>My Application</span>
      <button color="warn" mat-icon-button>
       <mat-icon>menu</mat-icon>
       </button>
       <span class="example-spacer"></span>
        <button color="warn" mat-icon-button>
        <mat-icon>circle_notifications</mat-icon></button>
        <button color="warn" mat-icon-button>
        <mat-icon>logout</mat-icon></button>  
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="navcontainer">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
           <a mat-list-item routerLink="dashboard" routerLinkActive="active">Dashboard</a> 
           <a mat-list-item routerLink="users" routerLinkActive="active">Student</a>
           <a mat-list-item>Workers</a> 
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
       <router-outlet></router-outlet>
      </div>
          </mat-sidenav-content>
  </mat-sidenav-container>
  

  