mat-sidenav-container
{
    background-color:white;
    height: 100%;   
    color: black;
 
}
mat-sidenav
{
background-color: gray;
width: 180px;

}
mat-nav-list a.active{
    color: black;
    
}
mat-sidenav-content
{
    margin-left: 20px;
}
.content{
 height:fit-content;
    margin: 16px;



   
}
